body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    max-width: 800px;
    background: #fff;
    margin: 30px auto;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

header {
    text-align: center;
    border-bottom: 2px solid #02abb0;
    padding-bottom: 10px;
    
}

header h1 {
    color: #035a69;
    margin-bottom: 5px;
}

header .title {
    font-size: 1.1em;
    color: #01a4bd;
}

.contact {
    font-size: 0.9em;
    color: #555;
}

section {
    margin-top: 20px;
}

section h2 {
    color: #035a69;
    border-bottom: 2px solid #dcdae0;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

ul {
    list-style-type: square;
    margin-left: 20px;
}

.skill-list {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.skill-list li {
    background-color: #02abb0;
    color: #fff;
    padding: 5px 10px;
    border-radius: 20px;
}

footer {
    text-align: center;
    margin-top: 30px;
    font-size: 0.9em;
    color: #666;
}
